{% extends 'todo/base.html' %}

{% block content %}

    {{ error }}



<h1>View Todos</h1>
    {{ todo.title }}

    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">SAVE</button>
    </form>

        <form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">COMPLETE</button>
</form>


    <form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">DELETE</button>
</form>

{% endblock %}